* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* fraunces-regular - latin-ext_latin */
@font-face {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/fraunces-v22-latin-ext_latin-regular.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/fraunces-v22-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/fraunces-v22-latin-ext_latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/fraunces-v22-latin-ext_latin-regular.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/fraunces-v22-latin-ext_latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/fraunces-v22-latin-ext_latin-regular.svg#Fraunces') format('svg');
    /* Legacy iOS */
}

/* fraunces-900 - latin-ext_latin */
@font-face {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/fraunces-v22-latin-ext_latin-900.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/fraunces-v22-latin-ext_latin-900.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/fraunces-v22-latin-ext_latin-900.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/fraunces-v22-latin-ext_latin-900.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/fraunces-v22-latin-ext_latin-900.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/fraunces-v22-latin-ext_latin-900.svg#Fraunces') format('svg');
    /* Legacy iOS */
}

/* barlow-regular - latin */
@font-face {
    font-family: 'Barlow', sans-serif;
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/barlow-v12-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/barlow-v12-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/barlow-v12-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/barlow-v12-latin-regular.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/barlow-v12-latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/barlow-v12-latin-regular.svg#Barlow') format('svg');
    /* Legacy iOS */
}

/* barlow-700 - latin */
@font-face {
    font-family: 'Barlow', sans-serif;
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/barlow-v12-latin-700.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/barlow-v12-latin-700.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/barlow-v12-latin-700.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/barlow-v12-latin-700.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/barlow-v12-latin-700.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/barlow-v12-latin-700.svg#Barlow') format('svg');
    /* Legacy iOS */
}

body {
    font-family: 'Fraunces';
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

.container {
    margin: 0 auto;
    width: 1200px;
    padding: 0 20px;
}

.coffe-logo {
    display: flex;

}

.logo-text {
    position: absolute;
    width: 203px;
    height: 24px;
    left: 33px;

}

.navbar {
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
    background-color: white;
    position: relative;
    padding: 15px 0;
}

header {
    position: fixed;
    background-color: white;
    width: 100%;
    z-index: 999999;
}

.logo {
    display: flex;
}

li {
    list-style: none;
    margin-left: 50px;
}

a {
    text-decoration: none;
}

.nav {
    display: flex;
    margin: auto;
    justify-content: center;
    text-align: center;
    margin-left: 736px;
}

.hero-img {

    background-image: url(../imeg/coffe-fon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 233px 83px;
    padding-right: 750px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}


.hero-imeg {

    background-image: url(../imeg/Bitmap.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 233px 83px;
    padding-right: 750px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}


.nav-link {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height, or 125% */

    letter-spacing: 0.923077px;
    text-transform: uppercase;

    color: #83888F;

}

.nav-link:hover {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height, or 125% */
    letter-spacing: 0.923077px;
    text-transform: uppercase;

    color: #333D4B;
}

.hero-texth1 {
    position: absolute;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    /* or 100% */
    width: 493px;
    height: 367px;
    left: 78px;
    top: 20px;

    color: #FEFCF7;
}


.hero-texth1-2 {
    position: absolute;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    /* or 100% */
    width: 493px;
    height: 367px;
    left: 78px;
    top: 90px;

    color: #FEFCF7;
}

.hero-text-p {
    font-family: 'Barlow', ;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    width: 400px;
    /* or 162% */


    color: #FEFCF7;

    mix-blend-mode: normal;
    opacity: 0.8;
}


.hero-text-p-2 {
    position: absolute;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    width: 400px;
    /* or 162% */


    color: #FEFCF7;

    mix-blend-mode: normal;
    opacity: 0.8;
}


.hero-button {
    position: absolute;
    background: #0E8784;
    ;
    border-radius: 6px;
    padding: 15px 15px;
    width: 200px;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    cursor: pointer;
    margin-top: 177px;
    /* identical to box height, or 139% */

    text-align: center;

    color: #FEFCF7;
}

.hero-button:hover {
    background: #66D2CF;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

/* header style */
.header {
    position: fixed;
    background-color: white;
    width: 100%;
    /* padding: 30px 0px 12px 0px; */
    top: 0;
    z-index: 999999;
}

.header__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.header__navbar {
    margin-left: auto;
}

.header__navbar>ul {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.header__navbar>ul>li>a {
    text-decoration: none;
    font-family: 'Barlow', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    text-transform: uppercase;
    color: #83888F;
}

.header__navbar>ul>li>a:hover {
    color: black;
}

.header__navbar>ul>li+li {
    padding-left: 33px;
}

/* section-2 start */

.section-2 {
    width: 1282px;
    background-image: url(../imeg/Group13.png);
    content: "";
    background-repeat: no-repeat;
    position: absolute;
    background-position: calc(50% + -76px);
    background-position-y: calc(50% - 131px);
    background-size: 1134px;
    margin-left: auto;
    margin-right: auto;
}

.collection {
    margin-top: 150px;
    margin-left: 70px;
    z-index: 5;
}

.collection__item {
    display: flex;
    list-style: none;
    z-index: 1;
    margin-top: 200px;
    margin-left: -105px;
}

.collection__items {
    width: 200px;
}


.collection__items+.collection__items {
    margin-left: 80px;
}


.collection__items h3 {
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 28px;
    margin-top: 71px;
    text-align: center;

    color: #333d4b;
}

.collection__items p {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;

    text-align: center;

    color: #333d4b;
}

/* section-2 end */


/*section-3 start  */

.services {
    margin-top: 800px;
    background-color: #2c343e;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    position: relative;
    bottom: 50px;
    padding: 233px 83px;
    padding-bottom: 150px;
}

.services_title {
    position: absolute;
    height: 48px;
    left: 19.54%;
    right: 19.54%;
    top: calc(50% - 50px/2 - 150px);
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #fefcf7;
}


.services_text {
    position: relative;
    top: -95px;
    margin-top: 32px;
    font-family: "Barlow", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #fefcf7;
    mix-blend-mode: normal;
    opacity: 0.8;
    width: 540px;
    display: flex;
}

.services_list1 {
    right: 66%;
    margin-top: 50px;
    background: #0e8784;
    border-radius: 8px;
    padding: 40px 35px;
    position: absolute;
    background-image: url(../imeg/coffee-bean.svg);
    background-repeat: no-repeat;
    background-position: top 72px center;
}

.services_list2 {
    margin-top: 50px;
    background: #0e8784;
    border-radius: 8px;
    padding: 40px 35px;
    position: absolute;
    background-image: url(../imeg/sovgacha.svg);
    background-repeat: no-repeat;
    background-position: top 72px center;
}

.services_list3 {
    left: 66%;
    margin-top: 50px;
    background: #0e8784;
    border-radius: 8px;
    padding: 40px 35px;
    position: absolute;
    background-image: url(../imeg/mashinacha.svg);
    background-repeat: no-repeat;
    background-position: top 72px center;
}

.list_title {
    margin-top: 150px;
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #fefcf7;
}

.list_text {
    font-family: "Barlow", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #fefcf7;
    width: 255px;
    margin-top: 24px;
}

/* section-3 end */




/* section-4 start */
.section-4 {
    margin-top: 300px;
    margin-left: 88px;
}

.works_title-top {
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;

    margin-left: -11px;
    color: #83888f;
}

.works_line {
    margin-top: 80px;
    border: 2px solid #fdd6ba;
    width: 760px;
    height: 1px;
    position: relative;
    display: flex;
}

.span1 {
    position: relative;
    display: flex;
    background: #fefcf7;
    border: 2px solid #0e8784;
    border-radius: 50px;
    width: 31px;
    height: 31px;
    left: -15px;
    top: -15px;
}

.span2 {
    position: relative;
    display: flex;
    background: #fefcf7;
    border: 2px solid #0e8784;
    border-radius: 50px;
    width: 31px;
    height: 31px;
    top: -15px;
    left: 45%;
}

.span3 {
    position: relative;
    display: flex;
    background: #fefcf7;
    border: 2px solid #0e8784;
    border-radius: 50px;
    width: 31px;
    height: 31px;
    top: -15px;
    left: 90%;
}

.works_list {
    list-style: none;
    display: flex;
    margin-top: 82px;
    margin-left: -64px;
}

.works_list>li+li {
    margin-left: 90px;
}

.works_title {
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #fdd6ba;
}

.works_subtitle {
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 900;
    font-size: 38px;
    line-height: 36px;
    color: #333d4b;
    width: 250px;
    margin-top: 38px;
}

.works_text {
    font-family: "Barlow", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #333d4b;
    width: 285px;
    margin-top: 42px;
}

.works_button {
    border: none;
    font-family: Fraunces;
    font-style: normal;
    font-weight: 900;
    font-size: 22px;
    line-height: 24px;
    text-align: center;
    color: rgb(254, 252, 247);
    background: rgb(14, 135, 132);
    border-radius: 6px;
    padding: 15px 31px;
    margin-top: 64px;
    margin-left: -14px;
}

.works_button:hover {
    background: #66d2cf;
}

/* section-4 end */

.box {
    padding: 1px;
    margin-top: -139px;
    margin-left: 323px;
}

.boxs {
    background-color: rgba(44, 52, 62, 1);
    border-radius: 10px;
    padding-bottom: 83px;
}


.works_text1 {
    font-family: "Barlow", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: white;
    width: 285px;
    margin-top: 42px;
}


.works_subtitle1 {
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 900;
    font-size: 38px;
    line-height: 36px;
    color: white;
    width: 250px;
    margin-top: 38px;
}


.works_title1 {
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #fff;
}

.span11 {
    position: relative;
    display: flex;
    /* background: #fefcf7; */
    border: 2px solid #0e8784;
    border-radius: 50px;
    width: 39px;
    height: 39px;
    left: -15px;
    top: -20px;
}


.span21 {
    position: relative;
    display: flex;
    /* background: #fefcf7; */
    border: 2px solid #0e8784;
    border-radius: 50px;
    width: 39px;
    height: 39px;
    top: -22px;
    left: 45%;
}

.span31 {
    position: relative;
    display: flex;
    /* background: #fefcf7; */
    border: 2px solid #0e8784;
    border-radius: 50px;
    width: 39px;
    height: 39px;
    top: -20px;
    left: 87%;
}



.main {
    background-color: #FFFFFF;
    position: relative;
}

.menu {
    background-color: #FFFFFF;
    position: relative;
    margin-top: 110px;
    display: flex;
    justify-content: space-between;
    padding: 0 80px;
}

.menu__left {
    /* flex-grow: 0.7; */
    display: flex;
    flex-direction: column;
}

.menu__left {
    list-style: none;
    padding-top: 40px;
    margin-left: -84px;
}

.menu__left>ul>li>span {
    margin-right: 28px;
}

.menu__left>ul>li+li {
    margin-top: 35px;
}

.menu__left>ul>li {
    list-style: none;
    font-family: 'Fraunces', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: rgb(51, 61, 75, 0.25);
    padding-bottom: 24px;
    border-bottom: 2px solid rgb(131, 136, 143, 0.25);
}

.menu__05 {
    color: #83888F;
}

.menu__left>ul>li:nth-child(5) {
    color: #333D4B;
    border: none;
}


.menu__right {
    display: flex;
    flex-direction: column;
    margin-right: -38px;

}

.menu__right-list {
    list-style: none;
}

.menu__right-box {
    list-style: none;
    display: flex;
}

.menu__right-text {
    font-family: 'Fraunces', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #83888F;
    display: flex;
    align-items: center;
    position: relative;
    background-color: #FFFFFF;
    margin-left: 44px;
}

.menu__right-item>label>svg {
    display: flex;
    margin-left: auto;
    margin-top: -135px;
}

.menu__right-item>label {
    background-color: #FFFFFF;
    position: relative;
    padding-top: 40px;
}

.menu__right-box>li>input {
    background-color: #333D4B;
}

.menu__right-box>li>label>div {
    width: 228px;
    height: 250px;
    background-color: #F4F1EB;
    display: flex;
    flex-direction: column;
    padding: 32px 28px;
    border-radius: 8px;
}

.menu__right-box>li+li {
    margin-left: 23px;
}

.menu__right-box>li>label>input {
    appearance: none;
}

.menu__right-box>li>label>input:checked~div {
    background-color: #0E8784;
}

.menu__right-box>li>label>div:hover {
    background-color: #FDD6BA;
}

.menu__right-box>li>label>input:checked~div>span {
    color: white;
}

.menu__right-box>li>label>div>:nth-child(1) {
    font-family: 'Fraunces', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #333D4B;
}

.menu__right-box>li>label>div>:nth-child(2) {
    font-family: 'Barlow', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
    width: 172px;
    margin-top: 24px;
}

.menu__right>form>ul>li+li {
    margin-top: 40px;
}

.menu__right-bottom {
    background-color: #2C343E;
    border-radius: 10px;
    padding: 31px 64px;
    width: 748px;
    margin-left: 43px;
}

.menu__right-bottom>q {
    width: 602px;
    font-family: 'Fraunces', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 40px;
    color: #FFFFFF;
}

.menu__right-bottom>q>span {
    color: #0E8784;
}

.menu__right-bottom>p {
    font-family: 'Barlow', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-transform: uppercase;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
    margin-bottom: 10px;
}

.menu__right {
    width: 727px;
}

.menu__right-form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.menu__right-item>input:checked~label>svg {
    transform: rotate(180deg);
}

.menu__right-item>input {
    appearance: none;
}

.menu__right-item>label {
    display: flex;
    align-items: center;
}

.works__button {
    border: none;
    font-family: 'Fraunces', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FEFCF7;
    background: #0E8784;
    border-radius: 6px;
    padding: 15px 31px;
    margin-top: 64px;
    /* margin-left: 185px; */
}

.works__button:hover {
    background: #66D2CF;
}


.works__list {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 82px;
}

.works__list>li+li {
    margin-left: 90px;
}

.works__title {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #FDD6BA;
}

.works__subtitle {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 38px;
    line-height: 36px;
    color: #333D4B;
    width: 250px;
    margin-top: 38px;
}

.works__text {
    font-family: 'Barlow', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
    width: 285px;
    margin-top: 42px;
}

.works__button {
    border: none;
    font-family: 'Fraunces', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FEFCF7;
    background: #0E8784;
    border-radius: 6px;
    padding: 15px 31px;
    margin-top: 64px;
    /* margin-left: 185px; */
}

.works__button:hover {
    background: #66D2CF;
}


/* footer start */

.footer {
    background-color: #2c343e;
}

.footer_box {
    margin-top: 200px;
    display: flex;
    padding: 47px 0;
}

.footer_icons {
    display: flex;
    text-decoration: none;
    list-style: none;
    margin-left: 95px;
}

.footer_navbar {
    display: flex;
    margin-left: 103px;
}

.footer_icons>ul>li+li {
    margin-left: 22px;
}

.footer_navbar>ul {
    list-style: none;
    display: flex;
    align-items: center;
    /* width: 285px; */
}

.footer_icons svg:hover path {
    fill: #fdd6ba;
}

.footer_navbar>ul>li>a {
    text-decoration: none;
    font-family: "Barlow", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    text-transform: uppercase;
    color: #83888f;
}

.footer_navbar>ul>li>a:hover {
    color: white;
}

.footer_navbar>ul>li+li {
    padding-left: 33px;
}

/* footer end */